@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
html{
  height: 100%;
  font-family: 'Hammersmith One', sans-serif;
  animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  overflow-y: scroll;
}
body {
  margin: 0 8px;
  min-height: 100%;
  position: relative;
  background-color: rgb(78, 12, 12);
}
body::after {
  content: '';
  display: block;
  height: 60px;
}
header {
  margin-bottom: 20px;
}
#titel {
  background-color: rgb(101,101,101);
  height: 100%;
}
h1 {
  color: white;
  font-size: 40px;
  text-shadow: 6px 6px 6px black;
  display: flex;
  justify-content: center;
  padding: 10px 60px 0;
  margin: 0 0 20px 90px;
  text-align: center;
}
h2 {
  color: white;
  text-shadow: 6px 6px 6px black;
}
main img {
  height: 300px;
}
h3 {
  color: white;
  text-shadow: 6px 6px 6px black;
  margin-top: 0;
}
#home {
  width: 80px;
  margin-right: 10px;
  float: right;
}
p {
  color: #eaeaea;
}
footer {
  align-content: center;
  height: 60px;
  background-color: rgb(101,101,101);
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
  footer p {
  background-color: rgb(54, 54, 54);
  border-radius: 15px;
  text-shadow: 6px 6px 6px black;
  padding: 5px;
  margin: auto 5px;
}
#photo-viewer {
  position: relative;
  height: 300px;
  overflow: hidden;
}
#photo-viewer.is-loading:after {
  content: url(images/load.gif);
  position: absolute;
  top: 0;
  right: 0;
}
#photo-viewer img {
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}
a.active {
  opacity: 0.3;
}