@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
html{
  height: 100%;
  font-family: 'Hammersmith One', sans-serif;
  animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  overflow-y: scroll;
}
body {
  margin: 0 8px;
  min-height: 100%;
  position: relative;
  background-color: rgb(78, 12, 12);
}
body::after {
  content: '';
  display: block;
  height: 60px;
}
header {
  margin-bottom: 20px;
}
#titel {
  background-color: rgb(101,101,101);
  height: 100%;
}
h1 {
  color: white;
  font-size: 40px;
  text-shadow: 6px 6px 6px black;
  display: flex;
  justify-content: center;
  padding: 10px 60px 0;
  margin: 0 0 20px 90px;
  text-align: center;
}
h2 {
  color: white;
  text-shadow: 6px 6px 6px black;
}
h3 {
  color: white;
  text-shadow: 6px 6px 6px black;
  margin-top: 0;
}
#home {
  width: 80px;
  margin-right: 10px;
  float: right;
}
p {
  color: #eaeaea;
}
footer {
  align-content: center;
  height: 60px;
  background-color: rgb(101,101,101);
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
  footer p {
  background-color: rgb(54, 54, 54);
  border-radius: 15px;
  text-shadow: 6px 6px 6px black;
  padding: 5px;
  margin: auto 5px;
}
#gross {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#gross img {
  max-height: 400px;
}
#klein {
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
}
#klein img {
  height: 100px;
  transition-duration: .5s;
}
#klein img:hover {
  cursor: pointer;
}
#klein img:first-child {
  opacity: 0.4;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}